
body{
  background: #F0F0F0;
  text-align: center;
  margin: auto;
  padding: auto;
  font-family: 'Work Sans', sans-serif;

}

a.class1 {color:#F0F0F0;}
a.class1:link  {text-decoration: none; color: #F0F0F0;}
a.class1:visited {text-decoration: none; color: #F0F0F0;}
a.class1:hover {text-decoration: none;; color:  #a8a8a8;}
a.class1:active {text-decoration: none; color: #F0F0F0;}


a.class2 {color:Black;}
a.class2:link {text-decoration: none; color: Black;}
a.class2:visited {text-decoration: none; color: Black;}
a.class2:hover {text-decoration: none;; color:  #a8a8a8;}
a.class2:active {text-decoration: none; color: Black;}

h1{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin: auto;
  padding: 10px;
  font size: 50px

}

.button {
    border-radius: 40px;
}

.button a {
    padding: 10px 12px;
    border: 20px solid Black;
    border-radius: 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #F0F0F0;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

figcaption {
  background-color: #F0F0F0;
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
}

h4{
font-family: 'Playfair Display', serif;
display: block;
font-size: 5em;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

h2{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 35px;
  margin: 2px
  padding: 2px
  color: Black

}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.25em;
}

a:hover {
  color: #a8a8a8;
  background-color: transparent;
  text-decoration: none;
}

ul{
  margin: :10px
  padding: 10px
  text-align:left;
}

li{
  margin: 0px;
  padding: 0px;
  border: none;
  text-align: left;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  max-width: 1000px;
  text-align: left;

}

li{
  display: list-item;
text-align: justify;
}
#menu_nav {
  background-color: black;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:stretch;
  text-decoration:none;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev
{
  cursor: pointer;
  position:absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  border-radius: 0 3px 6px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  cursor: pointer;
  position:absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  border-radius: 0 3px 6px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: -3px 0 0 -3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding:inherit;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


.logo {
  position: relative;
  text-align: center;
}

.head1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.firehead {
  width: 100%;
  opacity: 70%;
}

a{
  text-decoration:none;
  font-weight: 200;
  font-style: italic;
  color: black;

}

.photo {
  border: 0;
  margin: 1px;
  width: 50%;
  min-width: 200px;
  max-width: 400px;
}

.photo:hover {
  opacity: 40%;
}

.photocontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
}

.graphic {
  border: 0;
  margin: 3px;
  width: 75%;
  min-width: 200px;
  max-width: 400px;
}

.captioncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.caption {
  font-family: 'Work Sans', sans-serif;
  margin-top: 0px;
  text-align: center;
}

body{
    padding: 0;
    margin: 0;
    width:100vw;
    height: 100vh;
}
.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #CEBFA7;
    font-size: x-large;
    text-align: center;

}

#footer{
 position:fixed;
 bottom:0;
 left:0;
 font-family: 'Work Sans', sans-serif;
 font-weight: 400;
}

@media screen and (min-width:600px) {

  a {
    text-decoration: none;
    font-family: 'Italiana', serif;
    font-size: 1.25em;
    color: #EBDABF;
  }
}

@media screen and (max-width: 599px) {

  h1 {
    font-size: 2em;
  }

  p {
    margin: 20px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }


  #menu_nav {
    display: none;
    flex-direction: column
  }

  #gallery {
   line-height:0;
   -webkit-column-count:2; /* split it into 5 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:5;
   column-gap:5px;
}
